<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Login - FixCity</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="auth-container">
    <div class="auth-card">
      <h2>Entrar</h2>

      <form id="formLogin">
        <input type="email" id="loginEmail" placeholder="Email" required>
        <input type="password" id="loginSenha" placeholder="Senha" required>

        <button type="submit">Entrar</button>
      </form>

      <div class="auth-footer">
        Não tem conta?
        <a href="cadastro.html">Cadastrar</a>
      </div>
    </div>
  </div>

  <script src="auth.js"></script>
</body>

</html>